---
import BlogPage from "@/components/Blog";
import "../styles/global.css";
import NavBarContent from "@/layouts/NavBarContent.astro";
import { ClientRouter } from "astro:transitions";
---

<html>
  <head>
    <link rel="shortcut icon" href="https://placehold.co/32x32" />
    <meta name="description" content="About page for george dev" } />
    <ClientRouter />
  </head>
  <body>
    <NavBarContent>
      <BlogPage />
    </NavBarContent>
    <!-- Navigation -->
  </body>
</html>
