---
import BlogPage from "@/components/Blog";
import "../styles/global.css";
import NavBarContent from "@/layouts/NavBarContent.astro";
---

<html>
  <head>
    <link rel="shortcut icon" href="/src/assets/logo.ico" />
    <title>Blogs</title>
    <meta name="description" content="Blogs Page for glli.dev" } />
  </head>
  <body>
    <NavBarContent>
      <BlogPage />
    </NavBarContent>
    <!-- Navigation -->
  </body>
</html>
