---
import Hero from "@/components/Hero";
import "@/styles/global.css";
import NavBar from "@/components/NavBar";
import { ClientRouter } from "astro:transitions";
import Experience from "@/components/Experience";
import SkillsAndTech from "@/components/Skills";
import AboutMe from "@/components/AboutMe";
---

<html>
  <head>
    <base href={import.meta.env.BASE_URL} />
    <link rel="shortcut icon" href="./src/assets/logo.ico" />
    <title>About</title>
    <meta name="description" content="About page for glli.dev" } />
    <ClientRouter />
  </head>
  <body>
    <!-- Navigation -->
    <NavBar hasHeader={true} client:only="react" />

    <!-- Hero Section -->
    <Hero client:only="react" />

    <!-- Additional Sections -->
    <AboutMe client:only="react" />

    <SkillsAndTech client:only="react" />

    <Experience client:only="react" />
  </body>
</html>
