---
import FeaturesGrid from "@/components/FeaturesGrid";
import ProjectTypes from "@/components/ProjectTypes";
import Hero from "@/components/Hero";
import "../styles/global.css";
import NavBar from "@/components/NavBar";
import { ClientRouter } from "astro:transitions";
---

<html>
  <head>
    <link rel="shortcut icon" href="/src/assets/logo.ico" />
    <title>About</title>
    <meta name="description" content="About page for glli.dev" } />
    <ClientRouter />
  </head>
  <body>
    <!-- Navigation -->
    <NavBar hasHeader={true} />

    <!-- Hero Section -->
    <Hero client:only="react" />

    <!-- Features Section -->
    <FeaturesGrid client:only="react" />

    <!-- Additional Sections -->
    <ProjectTypes client:only="react" />
    <!-- <secHeros="py-24 px-4 bg-gray-50">
      <div class="max-w-3xl mx-auto">
      </div>
    </section> -->
  </body>
</html>
